.footer {
    position: fixed;
    bottom: 0;
    height: 4vh;
    width: 100%;
    background-color:  #e6e6e6;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.footer-title{
    text-align: center;
    color: black;
    font-size: 1rem;
}

.footer-link{
    color: green;
}

.footer-link:hover{
    color: black;
}