<div class="content">
	<div class="container-fluid">
        <div class="row pt-2 mb-2" style="height: 5vh;">
            <div class="col-12">
                <div class="title">EcoTrade Analysis</div>
            </div>
        </div>
        <div class="row pt-2">
	        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
		    	<div class="row">
		    		<div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 mb-1">
		                <mat-form-field appearance="outline" class="form-field">
		                    <mat-label>Select Device</mat-label>
		                    <mat-select required [formControl]="device_uid" [value]="id">
		                        <mat-option *ngFor="let device of dataSource2" [value]="device.device_uid">{{device.device_name}}</mat-option>
		                    </mat-select> 
		                    <mat-error *ngIf="device_uid.invalid">Required*</mat-error>
		                </mat-form-field>
		            </div>
		    		<div class="col-xl-5 col-lg-6 col-md-8 col-sm-12" style="margin-bottom: 27px;">
						<mat-button-toggle-group name="fontStyle" class="button-group" aria-label="Font Style" [(ngModel)]="selectedValue">
						  <mat-button-toggle class="button-group" value="Live" (click) = "applyFilterInterval('Live')">Live</mat-button-toggle>
						  <mat-button-toggle class="button-group" value="Min" (click) = "applyFilterInterval('min')">Min</mat-button-toggle>
						  <mat-button-toggle class="button-group" value="Hour" (click) = "applyFilterInterval('hour')">Hour</mat-button-toggle>
						  <mat-button-toggle class="button-group" value="Day" (click) = "applyFilterInterval('day')">Day</mat-button-toggle>
						  <mat-button-toggle class="button-group" value="Week" (click) = "applyFilterInterval('week')">Week</mat-button-toggle>
						  <mat-button-toggle class="button-group" value="Month" (click) = "applyFilterInterval('month')">Month</mat-button-toggle>
						  <mat-button-toggle class="button-group" value="Custom">Custom</mat-button-toggle>
						</mat-button-toggle-group>
					  </div>
						<div class="col-xl-2 col-lg-2 col-md-5 col-sm-5 mb-1"  *ngIf="selectedValue === 'Custom' || cInterval === 'custom'">
						  <mat-form-field class="form-field" appearance="outline">
							<mat-label>Start Date</mat-label>
							<input matInput placeholder="Select Date" [matDatepicker]="startPicker" [ngModel]="start" required  [formControl]="start_date"
								[max]="currentDate" (dateChange)="updateStartDate($event)">
							<mat-datepicker-toggle matPrefix [for]="startPicker"></mat-datepicker-toggle>
							<mat-datepicker #startPicker></mat-datepicker>
							<mat-error *ngIf = "start_date.invalid">Start Date is Required*</mat-error>
						  </mat-form-field>
						</div>
					  
						<div class="col-xl-2 col-lg-2 col-md-5 col-sm-5 mb-1" *ngIf="selectedValue === 'Custom' || cInterval === 'custom'">
						  <mat-form-field class="form-field" appearance="outline">
							<mat-label>End Date</mat-label>
							<input matInput placeholder="Select Date" [matDatepicker]="endPicker" [ngModel]="end" required  [formControl]="end_date"
								[min]="startDate" [max]="currentDate" (dateChange)="updateEndDate($event)">
							<mat-datepicker-toggle matPrefix [for]="endPicker"></mat-datepicker-toggle>
							<mat-datepicker #endPicker></mat-datepicker>
							<mat-error *ngIf = "end_date.invalid ">End Date is Required*</mat-error>
						  </mat-form-field>
						</div>
		            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 mb-1" *ngIf="selectedValue === 'Custom' || cInterval === 'custom'">
		                <div class="">
		                	<button mat-fab style="background-color: #a6a6a6;color: #fff;" (click)="applyCustomFilter()">
					          <mat-icon>filter_list</mat-icon>
					        </button>
		                </div>
		            </div>
		    	</div>
		    </div>
	    	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
				<mat-card>
					<mat-card-content>
						<div class="chart" id="donutChart"></div>
					</mat-card-content>
				</mat-card>    		
	    	</div>
	    	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
				<mat-card>
					<mat-card-content>
						<div class="chart" id="barChart"></div>
					</mat-card-content>
				</mat-card>    		
	    	</div>
	    	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
				<mat-card>
					<mat-card-content>
						<div class="chart" id="lineChart"></div>
					</mat-card-content>
				</mat-card>    		
	    	</div>
        </div>
	</div>
</div>
