.content {
    padding-top: 90px;
    padding-bottom: 5vh;
}

.title {
    padding-top: 0vh;
    font-size: 1.5rem;
    font-weight: 550;
}

.form-field, .form-field-button {
    width: 100%;
}

.button-group{
    width: 100%;
    background-color: #e6e6e6;
    border: 1px solid #a6a6a6;
    height: 100%;
}

.filter{
    font-size: 1rem;
    font-weight: 550;
    color: green;
}

.chart {
    min-height: 30vh;
}

@media (max-height: 799.98px) {
    .chart {
        min-height: 60vh;
    }
}

@media (min-height: 800px) and (max-height: 999.98px) {
    .chart {
        min-height: 30vh;
    }
}

@media (min-height: 1000px) {
    .chart {
        min-height: 30vh;
    }
}

@media (max-width: 850px) and (max-height: 399.98px) and (orientation: landscape) {
    .chart {
        min-height: 60vh;
    }
}