<div class="content">
	<div class="container-fluid">
		<div class="row pt-2 mb-1" style="height: 5vh;">
			<div class="col-11">
				<div class="title">EcoTrade Dashboard</div>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
				<mat-card class="card">
					<mat-card-content>
						<div class="chart-container" id="india-map"></div>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
				<mat-card class="card">
					<mat-card-content></mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>