<div class="content">
	<div class="container-fluid">
		<div class="row pt-2 mb-1">
			<div class="col-11">
				<div class="title">EcoTrade Dashboard</div>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                <mat-card class="card">               
                    <mat-card-content>
                        <div id="india-map" class="chart"></div>
                    </mat-card-content>
				</mat-card>
			</div>
			<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2">
				<mat-card class="mat-card-outline">
                    <mat-card-content>
                    	<div class="title-2 d-flex align-items-center mb-2">
						    <mat-icon style="vertical-align: middle;">home</mat-icon>
						    <span style="vertical-align: middle;">Site Status</span>
						</div>
						<mat-divider class="divider"></mat-divider>
                        <div class="table-container" style="overflow: auto;" class="card2">
                        <table mat-table [dataSource]="dataSource" matSort class="custom-theme-table mat-table">
                            
                            <ng-container matColumnDef="DeviceName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Device Name</th>
                                <td mat-cell *matCellDef="let element">{{ element.device_name }}</td>
                            </ng-container>

                            
                            <!-- <ng-container matColumnDef="Pump 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pump 1</th>
                                <td mat-cell *matCellDef="let element">{{ deviceData[getIndex(element.device_uid)]?.pump1 || 0000 }}</td>
                            </ng-container> -->

                            <ng-container matColumnDef="Pump 1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pump 1</th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'on': deviceData[getIndex(element.device_uid)]?.pump1 === 1, 'off': deviceData[getIndex(element.device_uid)]?.pump1 !== 1}">
                                    {{ deviceData[getIndex(element.device_uid)]?.pump1 === 1 ? 'on' : 'off' }}
                                </td>
                            </ng-container>

                            
                            <!-- <ng-container matColumnDef="Pump 2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pump 2</th>
                                <td mat-cell *matCellDef="let element">{{ deviceData[getIndex(element.device_uid)]?.pump2 || 0000 }}</td>
                            </ng-container> -->
                            <ng-container matColumnDef="Pump 2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pump 2</th>
                                <td mat-cell *matCellDef="let element" [ngClass]="{'on': deviceData[getIndex(element.device_uid)]?.pump2 === 1, 'off': deviceData[getIndex(element.device_uid)]?.pump2 !== 1}">
                                    {{ deviceData[getIndex(element.device_uid)]?.pump2 === 1 ? 'on' : 'off' }}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="Location">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                                <td mat-cell *matCellDef="let element">{{ element.Location }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                        </div>
                    </mat-card-content>
                </mat-card>
			</div>
		</div>
	</div>
</div>